body {
  background-image: url('../img/top.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* fonts */

h1 {
  font-family: "Trade Gothic W01", "Hiragino Kaku Gothic ProN";
  letter-spacing: 18px;
  font-size: 40px;
  font-weight: 100;
  color: white;
}

h2 {
  font-family: "Trade Gothic W01", "Hiragino Kaku Gothic ProN";
  letter-spacing: 8px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}

p {
  font-family: "Trade Gothic W01", "Hiragino Kaku Gothic ProN";
  color: white;
}

/* basic */

header {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

header img {
  margin-left: 6px;
  margin-right: 6px;
  width: 24px;
  height: 24px;
}


/* components */

.top-wrapper {
  margin-top: 170px;
  display: table;
	width: 100%;
	height: 100%;
}

.top-text {
  display: table-cell;
	text-align: center;
	vertical-align: middle;
}
